#overlay {
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  font-family: Whitney,sans-serif;
}

#overlay div {
  position: fixed;
  width: 300px;
  margin: 100px auto;
  background-color: white;
  border-left: 3px solid #99A7EE;
  padding: 15px;
  text-align: center;
  left: 55%;
  border-radius: 3%;
  font-family: Whitney,sans-serif;
}

#titleText {
  color: #000000;
  font-weight: bold;
}

#closeBtn {
  background-color: #ffff64;
  color: black;
  height: 20px;
  width: 20px;
  font-size: large;
  float: right;
  margin-top: -10px;
  margin-right: -5px;
  cursor: pointer;
}

#annotationText {
  margin-top: 15px;
  color: #000000;
}

#lyricsContainer {
  color: #000000;
  background-color: white;
  font-family: Whitney,sans-serif;
  font-size: 1.25em;
}

#lyricsContainer > a {
  color: #000000;
  background-color: #DDDDDD;
  font-family: Whitney,sans-serif
  font-size: 1.25em;
}
#lyricsContainer > a:hover {
  background-color: #FFFF64;
  text-decoration: none;
}
.lyric-title-container {
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.lyric-title {
  display: flex;
}

#lyricsContainer > a.active {
  background-color: #FFFF64;
  color: #000000;
  font-family: Whitney,sans-serif;
  font-size: 1.25em;
}
