#popup-body {
  width: 200px;
}

.YTGHeading {
  display: flex;
  display: -webkit-flex;
  align-content: center;
  justify-content: center;
}

.YTGHeading > img {
  width: 50px;
  height: 50px;
}

.YTGHeading-text {
  font-size: large;
  align-self: center;
}

.radioContainer {
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-align-content: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.radioContainer > span {
  align-self: center;
  -webkit-align-self: center;
  font-size: small;
}

.popup-menu-item {
  padding: 2px;
}
.popup-menu-item:hover {
  background: #e3e3e3;
}
